/* Jumbotron styles */
.jumbotron {
    background-color: #384293;
    color: #fff;
    font-weight: bold;
}

/* Card styles */
.card {
    margin: 0 3px;
}

.card-header {
    background-color: #4754b8;
    color:#fff;
}

.card-body {
    background-color: #f3f3f3;
}

.card a {
    color:#4754b8
}